.c-footer-logo {
  height: 125px;
  width: 180px;
  object-fit: cover;
}
.c-footer__section-title {
  padding-left: 10px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

.c-footer__link {
  font-size: 15px;
}

.c-footer__notice {
  font-size: 13px;
}
