@import 'maverick-toolkit-css';
@import './theme/index';
@import './components/index';
@import './pages/index';
#clttf {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343a40;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  width: max-content;
}
ul {
  width: max-content;
}
.u-margin-bot-none {
  margin-bottom: 0px;
}
